.backgroundContainer{
    overflow: hidden;
    z-index: -99;
    display: flex;
    justify-content: center;
    align-items: center;
}
video{
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -99;
    top: 0;
    object-fit: cover;
    object-position: left;
}
.imgstyle{
    width: 55vw;
    position: relative;
    top: -126px;
    /* margin: 0 auto; */
    margin-left: 48px;
}