.capsule-container {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.title {
    font-size: 32px;
    font-weight: bold;
}

.sub-title {
    font-size: 24px;
    margin-top: 14px;
}

.capsule-box {
    display: flex;
    column-gap: 76px;
    margin-top: 101px;
}

.capsule-circle {
    width: 445px;
    height: 429px;
    margin: auto 0;
}

.capsule-img {
    row-gap: 36px;
    display: flex;
    margin-top: 49px;
    flex-direction: column;
}

.qr {
    width: 258px;
    height: 258px;
}

.img-button {
    width: 258px;
    height: 62px;
    display: flex;
    font-size: 24px;
    align-items: center;
    border-radius: 15px;
    font-weight: lighter;
    justify-content: center;
    font-family: 'Pretendard';
    border: 2px solid rgba(243, 243, 243, 0.23);
    background-color: rgba(150, 150, 150, 0.23);
}