.capsuleContainer{
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.title {
    font-size: 32px;
    font-weight: bold;
}
.sub-title {
    font-size: 24px;
    margin-top: 14px;
}

.capsuleBox {
    display: flex;
    margin-top: 101px;
}

.button {
    display: flex;
    row-gap: 12px;
    margin: 24px 26px 0 0;
    flex-direction: column;
}

.draw,
.remove {
    width: 59px;
    height: 59px;
    display: flex;
    align-items: center;
    border-radius: 100%;
    justify-content: center;
    background-color: #FFF;
}

.draw-icon {
    width: 22px;
    height: 22px;
    fill: #000;
    cursor: url('../../public/images/draw.svg'), auto;
}

.remove-icon {
    width: 26px;
    height: 26px;
    fill: #000;
    cursor: url('../../public/images/remove.svg'), auto;
}

.canvasRectangle {
    width: 510px;
    height: 478px;
    border-radius: 40px;
    background-color: #FFF;
}