.capsuleContainer{
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.title {
    font-size: 32px;
    font-weight: bold;
}
.sub-title {
    font-size: 24px;
    margin-top: 14px;
}

.capsuleBox {
    display: flex;
    margin-top: 101px;
}

.button {
    display: flex;
    row-gap: 12px;
    margin: 24px 26px 0 0;
    flex-direction: column;
}

.draw,
.remove {
    width: 59px;
    height: 59px;
    display: flex;
    align-items: center;
    border-radius: 100%;
    justify-content: center;
    background-color: #FFF;
}

.draw-box {
    position: relative;
}

.paletteBox {
    width: 59px;
    z-index: -1;
    height: 375px;
    row-gap: 12px;
    display: flex;
    margin-top: -59px;
    border-radius: 30px;
    padding-bottom: 6px;
    align-items: flex-start;
    background-color: #FFF;
    justify-content: flex-end;
}

.hide-component {
    display: none;
}

.palette {
    height: 318px;
    cursor: pointer;
    overflow: hidden;
    margin: 59px 6px 0 0;
    width: calc(100% - 12px);
    border-radius: 40px 40px 100px 100px;
}

.color {
    width: 100%;
    height: 53px;
}

.red {
    background-color: #FF4836;
}

.yellow {
    background-color: #FFE55A;
}

.green {
    background-color: #00E132;
}

.blue {
    background-color: #4C94FF;
}

.purple {
    background-color: #B14EFF;
}

.black {
    background-color: #000;
}

.selected-color {
    background-size: 35%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../../public/images/select.png');
}

.draw-icon {
    width: 22px;
    height: 22px;
    fill: #000;
}

.remove-icon {
    width: 26px;
    height: 26px;
    fill: #000;
}

.canvasRectangle {
    width: 510px;
    height: 478px;
    border-radius: 40px;
    background-color: #FFF;
}