.capsule-container {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.title {
    font-size: 32px;
    font-weight: bold;
}

.sub-title {
    font-size: 24px;
    margin-top: 14px;
}

.capsule-box {
    display: flex;
    margin-top: 101px;
}

.canvas-circle {
    width: 420px;
    height: 399px;
    margin: auto 0;
    margin-left: 97px;
}