.glassContainer{
    position: absolute;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -10;
    display: flex;
    column-gap: 69px;
}
.glassFull{
    width: 100vw;
    height: 722px;
    background-color: #9696960f;
    backdrop-filter: blur(32px);
    box-shadow: 0 0 42px;
    color: #00000020;
    border: solid 1px #ffffff96;
}
.btnStyles{
    width: 65px;
    height: 65px;
}
.glass{
    width: 1414px;
    height: 863px;
    background-color: #9696960f;
    backdrop-filter: blur(32px);
    box-shadow: 0 0 42px;
    color: #00000020;
    border: solid 1px #ffffff96;
    border-radius: 60px;
}