.inputContainer {
  display: flex;
  flex-direction: column;
  row-gap: 38px;
}
.writeContainer {
  display: flex;
  position: absolute;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  column-gap: 99px;
}
.titleBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  z-index: 1000;
}
.titleBox > div {
  font-size: 32px;
  font-weight: 600;
}
.titleBox > span {
  font-size: 24px;
  font-weight: 400;
}
