.inputContainer{
    display: flex;
    flex-direction: column;
    row-gap: 38px;
}
.writeContainer{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    column-gap: 99px;
}
.inputStyle{
    width: 625px;
    height: 70px;
    padding: 0 26px;
    font-size: 20px;
    border-radius: 15px;
    color: #000;
    border: 0;
    outline: none;
    background-color: rgb(255, 255, 255, 75%);
}
.inputStyle::placeholder, 
.textareaStyle::placeholder{
    color: rgb(0, 0, 0, 37%);
}
.letterContainer{
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 33px;
    width: 410px;
    /* text-align: center; */
    /* align-items: center; */
    text-align: start;
    height: 653px;
    border-radius: 30px;
    background-color: white;
    padding: 47px;
    background-image: url(/public/images/letterImg.png);
}
.letterContainer div{
    color: #4B4B4B;
    word-wrap: break-word;
    line-height:25px;
}
.textareaStyle{
    width: 625px;
    height: 516px;
    padding: 26px;
    font-size: 20px;
    border-radius: 15px;
    color: #000;
    border: 1px solid white;
    outline: none;
    background-color: rgb(255, 255, 255, 75%);
}
.textareaError{
    border: 1px solid red !important;
}
.ErrorStyle{
    color: red;
    text-align: center;
    position: absolute;
    left: 830px;
    bottom: 200px;
}
.checkText{
    position: absolute;
    align-items: center;
    bottom: 47px;
    width: 100%;
    left: 0px;
    display: flex;
    justify-content: center;
    color: #4B4B4B;
}
.labelStyle{
    font-size: 24px;
    display: flex;
    column-gap: 24px;
}
.check{
    display: flex;
    column-gap: 24px;
}
.check input[type="checkbox"]:not(:checked) {
    background-color: rgba(255, 255, 255, 0.5);
    border-color: rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    color: white;
}
.check input[type="checkbox"] {
    -webkit-appearance: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    width: 28px;
    height: 28px;
    cursor: pointer;
    outline: none !important;
    /* border: 1px solid #9999; */
    vertical-align: middle;
}
.check input[type="checkbox"]::before {
    content: "\2713";
    font-size: 20px; 
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    transform: scale(0) translate(-50%, -50%);
    line-height: 1;
}
.check input[type="checkbox"]:checked {
    background-color: rgb(255, 255, 255, 50%);
    border-color: rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    color: white;
}
.check input[type="checkbox"]:checked::before {
    border-radius: 4px;
    transform: scale(1) translate(-50%, -50%)
}